body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.width-7 {
  width: 70%;
}

.width-3 {
  width: 30%;
}

.left {
  float: left;
}
.left::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  height: 34px;
  width: 250px;
  margin-bottom: 10px;
  text-align: center;
}
.maimeng {
  width: 250px;
  height: 34px;
  margin-bottom: 10px;
}
.maimeng #rejudge {
  width: 100%;
}
.maimeng input {
  border-radius: 0;
}
.maimeng .btn {
  border-radius: 0;
}
.body {
  width: 250px;
}
.level1, .level2, .level3 {
  border: 2px solid #DDD;

}
.level1 {
  background-color: #DFF0D8;
  width: 250px;
}
.level1 .item {
  margin-bottom: 20px;
}
.level1 .item span {
  cursor: pointer;
}
.level2 {
  margin-left: 20px;
  background-color: #D9EDF7;
}
.level3 {
  margin-left: 20px;
  background-color: #FCF8E3;
}
.item {
  display: inline;
}
.header-item {
  width: 33.33%;
  float: left;
}
.header-item .btn {
  width: 100%;
  border-radius: 0;
}
